<!-- Location One -->
<section
  class="location-one"
  style="background-image: url(assets/images/background/5.jpg)"
>
  <div class="auto-container">
    <div class="sec-title title-anim centered">
      <div class="sec-title_title">Comment venir</div>
      <h2 class="sec-title_heading">Directions</h2>
    </div>
    <div class="row clearfix">
      <!-- Map Column -->
      <div class="location-one_map-column col-lg-8 col-md-12 col-sm-12">
        <app-google-map-v1></app-google-map-v1>
      </div>
      <!-- Info Column -->
      <div class="location-one_info-column col-lg-4 col-md-12 col-sm-12">
        <!-- Location Info Block -->
        <div class="location-info_block">
          <div class="location-info_block-inner">
            <div class="location-info_block-content">
              <div class="location-info_block-icon flaticon-map"></div>
              <strong>ADDRESSE</strong>
              Grand Théâtre de Dakar, Dakar, Sénégal
            </div>
          </div>
        </div>

        <!-- Location Info Block -->
        <div class="location-info_block">
          <div class="location-info_block-inner">
            <div class="location-info_block-content">
              <div class="location-info_block-icon flaticon-clock"></div>
              <strong>Horaires</strong>
              17 et 18 décembre 2025
            </div>
          </div>
        </div>

        <!-- Location Info Block -->
        <div class="location-info_block">
          <div class="location-info_block-inner">
            <div class="location-info_block-content">
              <div class="location-info_block-icon flaticon-email-1"></div>
              <strong>Contactez-nous</strong>
              <a href="mailto:mail@mail.com">mail&#64;mail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Location One -->
