<!-- Footer Three -->
<footer class="footer-three" style="background-image:url(assets/images/background/10.jpg)">
    <div class="footer-three_pattern" style="background-image:url(assets/images/background/pattern-25.png)"></div>
    <div class="footer-three_pattern-two" style="background-image:url(assets/images/background/pattern-26.png)"></div>
    <div class="auto-container">

        <!-- Widgets Section -->
        <div class="footer-three-widgets">
            <div class="row clearfix">

                <!-- Footer Column -->
                <div class="footer-three_column col-lg-5 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="footer-three_logo p-1 bg-white"><a href="/"><img ngSrc="assets/images/logo_hcp.jpeg" width="140" height="70" alt="" title=""></a></div>
                    </div>
                    <!-- <div class="footer-three_text">We have very good strength in innovative technology and tools with over 35 years of experience. We makes long-term investments goal in global companies in different sectors, mainly in Europe and other countries.</div> -->
                </div>

                <!-- Big Column -->
                <div class="footer-three_column col-lg-3 col-md-6 col-sm-12">
                    <ul class="footer-three_contact-list">
                        <li>
                            <span class="icon flaticon-map"></span>
                            <strong>Address</strong>
                            Grand Théâtre Dakar, Senegal
                        </li>

                    </ul>
                    <div class="footer-social_list">
                        <a href="https://facebook.com/" class="facebook fa-brands fa-facebook-f" target="_blank"></a>
                        <a href="https://youtube.com/" class="youtube fa-brands fa-youtube" target="_blank"></a>
                        <a href="https://twitter.com/" class="twitter fa-brands fa-twitter" target="_blank"></a>
                    </div>
                </div>

                <!-- Big Column -->


            </div>
        </div>

    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">&copy;  Copyright ©{{ currentYear }} hcpGroup. All Rights Reserved</div>
        </div>
    </div>

</footer>
<!-- End Footer Three -->
