<!-- Events About Section -->
<section id="about" class="events-about-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column titlt" data-tilt data-tilt-max="4">
                    <div class="icon-one" style="background-image:url(assets/images/icons/pattern-1.png)"></div>
                    <div class="image">
                        <img src="assets/images/resource/about-2.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">A propos de l'événement</div>
                        <h2 class="sec-title_heading">Salon Dakar Job Dating <br> Edition 2025</h2>
                        <div class="sec-title_text">Lorem ipsum gravida nibh vel velit auctor aliquetnean sollicitudin, lorem quis Bibendum auci elit consequat ipsutis sem nibh id elit</div>
                    </div>
                    <div class="row clearfix">
                        <!-- About Event Block -->
                        <div class="about-event-block col-lg-6 col-md-6 col-sm-12">
                            <div class="block-inner">
                                <span class="icon-box flaticon-maps-and-flags"></span>
                                <h5>Lieu</h5>
                                <div class="about-text">Grand Théâtre de Dakar, <br> Dakar / Sénégal</div>
                            </div>
                        </div>
                        <!-- About Event Block -->
                        <div class="about-event-block col-lg-6 col-md-6 col-sm-12">
                            <div class="block-inner">
                                <span class="icon-box flaticon-call-1"></span>
                                <h5>Quand</h5>
                                <div class="about-text">Mercredi et Jeudi <br> 17 et 18 décembre 2025</div>
                            </div>
                        </div>
                    </div>
                    <!-- Btn Box -->
                    <!-- <div class="btn-box">
                        <a href="contact-us-01" class="theme-btn btn-style-two">
                            <span class="btn-wrap">
                                <span class="text-one">Buy Ticket</span>
                                <span class="text-two">Buy Ticket</span>
                            </span>
                        </a>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Events About Section -->
