<!-- Call To Action Section One -->
<section id="registerBusiness" class="call-to-action-section-one" style="background-image: url(assets/images/background/map-pattern.png)">
    <div class="auto-container">
        <div class="title">Vous êtes Employeur</div>
        <h2>Vous souhaitez mettre en avant votre entreprise <br> Contactez-nous</h2>
        <a href="contact-us-01" class="theme-btn btn-style-one">
            <span class="btn-wrap">
                <span class="text-one">Contactez-nous</span>
                <span class="text-two">Contactez-nous</span>
            </span>
        </a>
    </div>
</section>
<!-- End Call To Action Section One -->
